{% extends "main.html" %}

{% block content %}

<script>

	// Updates the search results on each key press.
	function live_search(term)
	{
		var search = "/search";

		{% if show %}
			var show = html_decode("{{ show }}");

			{% if season %}
				search += "/television/" + show + "/{{ season }}";

			{% else %}
				search += "/television/" + show;
			{% endif %}

		{% elif directory %}
			search += "/{{ directory }}";
		{% endif %}

		if (term != "")
		{
			search += "/" + term;
		};

		$(".results").load(escape(search));
	};

	function html_decode(value)
	{
		return $('<div />').html(value).text();
	}

	$(document).ready(function()
	{
		live_search("");
	});

</script>

{% if (directory) and (directory != "television") and (directory != "new") %}

	<div class="search">

		<input type="text"
			   class="input_prefocus"
			   value="Search {{ directory.title() }}"
			   onfocus="this.value = ''; this.className = '';"
			   onkeyup="live_search(this.value);">

	</div>

{% endif %}

<div class="results"></div>

{% endblock %}
