body {
    margin-bottom: 0px;
    -webkit-text-size-adjust: none;
	font-size: 56px;
}
#buttons {
	position: fixed;
	bottom: 0px;
    border-top: 4px solid #bbb;
    border-bottom: none;
}

/* ------------------------------------------------------------------------- */

.button {
    font-size: 34px;
    background: -webkit-linear-gradient(top, #f8f8f8, #d8d8d8);
    border-left: 4px solid #bbb;
}
.button:hover, .button_selected {
    background: -webkit-linear-gradient(top, #e8e8e8, #c8c8c8);
}
.button_left {
    border-left: none;
}
.button_right {
    border-right: none;
}

/* ------------------------------------------------------------------------- */

.search {
	margin-top: 0px;
}
.search input {
	font-size: 64px;
}

/* ------------------------------------------------------------------------- */

.results {
	margin-bottom: 165px;
}

/* ------------------------------------------------------------------------- */

.main_content {
    margin-top: 0px;
    margin-bottom: 8px;
}
.main_title {
    font-size: 72px;
}
.main_button {
    font-size: 64px;
}
