{% extends "main.html" %}

{% block content %}

{% if receiver %}

    <div class="main_content">
	
        <div class="main_text">
            {{ data["name"] }} ({{ receiver }}) is alive!
        </div>

    </div>

{% else %}

    {% if receivers[0] %}

        {% for receiver in receivers %}

            <div class="main_content">

                <a class="main_button main_button_wide"
                   href="/admin/{{ receiver["host"] }}">
                    {{ receiver["name"] }}
                </a>

            </div>

        {% endfor %}

    {% else %}

        <div class="main_content">

            <div class="main_text">
                No Receivers found.
            </div> 

        </div>

    {% endif %}

{% endif %}

{% endblock %}
